@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

header {
	height: 100vh;
	background-image: url('./assets/images/developer.png');
	background-repeat: no-repeat;
	background-position: 20px 20px;
}

h2 {
	font-size: 35px;
	font-weight: 700;
	color: #181818;
}

h3 {
	font-size: 30px;
	font-weight: 700;
	line-height: 40.85px;
	color: #474747;
}

p {
	font-size: 18px;
	color: #757575;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

button {
	all: unset;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.btn {
	height: 64px;
	padding: 0 35px;
	border-radius: 5px;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.btn-primary {
	background: #fd6e0a;
	color: #ffffff;
}

.btn-outlined {
	border: 1px solid #fd6e0a;
	color: #fd6e0a;
}

.btn-icon {
	margin-right: 10px;
}

.helping-text {
	text-align: center;
}

/* navbar start */
#navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 50px;
}

.brand-name {
	font-size: 45px;
	font-weight: 800;
	color: #181818;
}

.highlight {
	color: #fd6e0a;
}

.nav-list {
	display: flex;
	align-items: center;
}

.nav-item a {
	font-size: 20px;
	font-weight: 400;
	color: #474747;
	margin-right: 60px;
}

ul {
	display: flex;
}

.menu-icon {
	display: none;
}
/* navbar end */

/* hero start */
#hero {
	display: flex;
	align-items: center;
	height: 90vh;
}

.left-div {
	width: 600px;
}

.hi-text {
	font-size: 45px;
	font-weight: 600;
	color: #474747;
}

h1 {
	font-size: 85px;
	font-weight: 700;
	line-height: 115.75px;
	color: #181818;
}

#hero p {
	margin-top: 20px;
}

.btn-group {
	display: flex;
	align-items: center;
	margin-top: 30px;
}

.btn-group .btn {
	margin-right: 30px;
}

.hero-image {
	height: 550px;
	width: 850px;
	position: absolute;
	right: 0;
	bottom: 0;
	background-image: url('./assets/images/header_bg.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 833px 518px;
	background-position: bottom right;
	display: none;
}

.hero-image img {
	position: absolute;
	right: 0;
	bottom: 0;
}
/* hero end */

/* about start */
#about {
	text-align: center;
	padding: 131px 156px;
	background: #fff8f3;
	border-radius: 10px;
	margin-top: 120px;
}

#about p {
	margin-top: 30px;
}

.about-contents {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
}

.about-contents .heading {
	font-size: 20px;
	color: #757575;
	line-height: 30px;
}

.about-contents .content {
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	color: #474747;
}
/* about end */

/* services start */
#service h2 {
	text-align: center;
	margin-top: 120px;
}

#service p {
	margin-top: 30px;
}

.service-contents {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 24px;
	margin-top: 50px;
}

.service-contents .card {
	border-radius: 5px;
	padding: 30px;
	box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}

#service .card-title {
	font-size: 20px;
	font-weight: 700;
	line-height: 27.24px;
	color: #181818;
	margin-top: 30px;
}

.card p {
	font-size: 16px;
	line-height: 28px;
	text-align: left;
}
/* services end */

/* resume start */
#resume {
	margin-top: 120px;
}

#resume h2 {
	text-align: center;
}

.resume-content {
	display: grid;
	grid-template-columns: auto auto;
	gap: 72px;
	margin-top: 112px;
}

#resume .card {
	border-bottom: 1px solid #d1d1d1;
	padding: 30px 0;
}

#resume .card-title {
	font-size: 25px;
	font-weight: 700;
	color: #474747;
}

.education-timeline,
.experience-timeline {
	margin-top: 30px;
}

.institute,
.employer {
	font-size: 20px;
	font-weight: 600;
	color: #757575;
	margin-top: 10px;
}

#resume .card:nth-child(3) {
	border: none;
}

#resume .card p {
	margin-top: 20px;
}

#resume button {
	margin: 0 auto;
}
/* resume end */

/* footer start */
footer {
	background: #fff8f3;
	padding: 120px 0;
	margin-top: 120px;
}

.footer-content {
	display: grid;
	grid-template-columns: auto auto;
	gap: 128px;
}

.connect,
.contact-form {
	width: 50%;
}

footer .connect p {
	margin-top: 20px;
}

footer .social-icons {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 24px;
	margin-top: 30px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-top: 28px;
}

form .form-control {
	width: 100%;
	height: 64px;
	font-size: 16px;
	outline: none;
	background: #ffffff;
	border-radius: 5px;
	border: none;
	padding: 0 30px;
}

form textarea {
	width: 100%;
	background-color: #fff;
	border: none;
	padding: 18px 30px;
	outline: none;
}

footer .btn {
	width: 150px;
	font-weight: 700;
}
/* footer end */

/* media query */

@media screen and (max-width: 600px) {
	header {
		height: auto;
		background: none;
	}

	h1 {
		font-size: 64px;
	}

	.container {
		max-width: 400px;
	}

	.btn {
		padding: 0 20px;
	}

	/* navbar */
	.nav-list {
		display: none;
	}

	.menu-icon {
		display: block;
	}

	.menu-icon .fa-bars {
		font-size: 38px;
	}

	/* hero */
	#hero {
		height: auto;
		margin-top: 56px;
	}

	/* about */
	#about {
		padding: 64px 44px;
	}

	.about-contents {
		flex-direction: column;
		gap: 24px;
	}

	/* service */
	.service-contents {
		grid-template-columns: auto;
	}

	/* resume */
	.resume-content {
		grid-template-columns: auto;
	}

	.footer-content {
		grid-template-columns: auto;
	}

	/* contact */
	.connect,
	.contact-form {
		width: auto;
	}

	.contact-form {
		grid-row: 1 / 2;
	}

	.connect {
		grid-row: 2 / 3;
		text-align: center;
	}

	.connect .social-icons {
		justify-content: center;
	}
}
